My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -144
      ],
      "id": "148ef01b-2585-41f4-a9b1-2918d8b2dd06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "IyhpiwB6HCSKOonl",
          "mode": "list",
          "cachedResultName": "myDatatable05",
          "cachedResultUrl": "/projects/09cWKKWpYfUwRIbh/datatables/IyhpiwB6HCSKOonl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.pubDate }}",
            "news": "={{ $json['content:encodedSnippet'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "news",
              "displayName": "news",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f05803ca-e9fd-4878-901b-04e9ae76433e",
      "name": "Insert row"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        -144
      ],
      "id": "f067463b-f482-4f2f-bad3-cc93044cd226",
      "name": "techtalkthai"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -432,
        48
      ],
      "id": "24ecf1fa-66e2-4111-8805-ac8d833b379a",
      "name": "droidsans"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -432,
        208
      ],
      "id": "8edbcc4e-d800-49fe-8758-a15b0ad19f74",
      "name": "srtet"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -432,
        400
      ],
      "id": "5325bc12-2755-467a-ada9-d5a5222b8474",
      "name": "nsoweb"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "techtalkthai",
            "type": "main",
            "index": 0
          },
          {
            "node": "droidsans",
            "type": "main",
            "index": 0
          },
          {
            "node": "srtet",
            "type": "main",
            "index": 0
          },
          {
            "node": "nsoweb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "techtalkthai": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "droidsans": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "srtet": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nsoweb": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1808cdc-12b3-41cb-9e2f-c6c542cb30a8",
  "meta": {
    "instanceId": "83f28ed755b80c4d20f27f045a93292a3856a27b04bb76b674b80e6a3c20bdf2"
  },
  "id": "aAZLJhLoiiJbDqMK",
  "tags": []
}